src/main/mule/implementation/create-accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="post-accountsFlow" doc:id="9ad55f21-7f4e-44a0-8312-56baedfdc45f" >
		<logger level="INFO" doc:name="Flow Start Logger" doc:id="ad2b8243-a51e-4b2b-869f-8f248f355a63" message='#[vars.correlationId] Create Accounts Flow Start for Account Number #[payload.number default ""]'/>
		<logger level="INFO" doc:name="Log Original Payload" doc:id="9041bc1e-52b7-4f6d-9fce-208c6d89af7b" message="#[(vars.correlationId)] Create Accounts Original Payload #[payload]"/>
		<ee:transform doc:name="Map SFDC Account Request" doc:id="e95fda83-6419-4576-93cf-e53c5f1ea67b" >
			<ee:message >
				<ee:set-payload resource="dataweave/map-create-account-request.dwl" />
			
</ee:message>
			<ee:variables >
				<ee:set-variable variableName="operation" ><![CDATA["Created"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Request Before Calling SFDC" doc:id="ed13d6d0-9e73-4945-bf43-0f143569dc7d" message="#[(vars.correlationId)] Create Account Request Before Calling SFDC: #[payload]"/>
		<until-successful maxRetries="2" doc:name="Until Successful" doc:id="31893e2f-6e38-4542-a851-181493e55242" millisBetweenRetries="30000">
			<try doc:name="Try" doc:id="9c4770c9-cd9f-461f-8ba7-a2a3a0cf133f">
			<salesforce:create doc:name="Create" doc:id="f013e19a-5246-472c-b383-af7b51965467" config-ref="salesforce-config" type="Account"/>
				<error-handler >
					<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="b0b853be-b2aa-4b5b-9144-80b182b21c46" when="#[error.errorType.identifier != 'CONNECTIVITY']">
						<ee:transform doc:name="Transform Message" doc:id="aff42cdc-d0c1-4006-914e-f2e8b3357571" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="errorObject" ><![CDATA[error]]></ee:set-variable>
								<ee:set-variable variableName="errorPayload" ><![CDATA[error.errorMessage.payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</on-error-continue>
				</error-handler>
		</try>
		</until-successful>
		<logger level="INFO" doc:name="Log Response After Calling SFDC:" doc:id="4743a2e3-78d4-4708-9517-d1b848d07e78" message="#[(vars.correlationId)] Create Account Response After Calling SFDC: #[output json --- payload]"/>
		<flow-ref doc:name="error-checkpoint-subflow" doc:id="61aeb483-f871-4c08-9bee-49158b59a86b" name="sfdc-checkpoint-subflow"/>
		<flow-ref doc:name="sfdc-success-checkpoint-subflow" doc:id="3700a809-8471-4148-b2bf-56481d5f6093" name="sfdc-success-checkpoint-subflow"/>
		<ee:transform doc:name="Map Success Response" doc:id="3931ab4b-f7f8-45da-844a-fdecbc76ddb7" >
			<ee:message >
				<ee:set-payload resource="dataweave/set-common-success-response.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Flow End Logger" doc:id="9de4aa42-fc83-4a9b-a32b-01171c7baecd" message="#[vars.correlationId] Create Accounts Flow End"/>
	</flow>
	
	</mule>
