src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="accounts-sfdc-sapi-main">
        <http:listener config-ref="accounts-sfdc-sapi-httpListenerConfig" path="${http.basePath}" doc:name="Global HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.correlationId default correlationId]" doc:name="Set Correlation ID" doc:id="6c7df660-7187-4383-a838-b7872c7a500a" variableName="correlationId"/>
		<apikit:router config-ref="accounts-sfdc-sapi-config" doc:name="Global APIkit Router"/>
        <error-handler ref="globalError_Handler">
            
        </error-handler>
    </flow>
    <flow name="accounts-sfdc-sapi-console">
        <http:listener config-ref="accounts-sfdc-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accounts-sfdc-sapi-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="put:\accounts\(account_id):application\json:accounts-sfdc-sapi-config">
		<flow-ref doc:name="update-account-flow" doc:id="dfe9323f-71d1-420f-be41-5d4d2ddbd5cc" name="put-accountsFlow"/>
    </flow>
    <flow name="delete:\accounts\(account_id):accounts-sfdc-sapi-config">
		<flow-ref doc:name="delete-account-flow" doc:id="bf34b409-a5f9-4be6-abbd-62c4afddae50" name="delete-accountsFlow"/>
    </flow>
    <flow name="get:\accounts\(account_id):accounts-sfdc-sapi-config">
		<flow-ref doc:name="get-account-flow" doc:id="b84294ab-c155-4ac1-9162-850c681e2d02" name="get-accountsFlow"/>
    </flow>
    <flow name="post:\accounts:application\json:accounts-sfdc-sapi-config">
		<flow-ref doc:name="post-account-flow" doc:id="72ad5ee7-204d-477a-b739-4f8d75b69644" name="post-accountsFlow"/>
    </flow>
</mule>
